:root {
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    --dark-greyish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%)
}

/* font */

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


/* General Markup Style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    color: hsl(192, 4%, 74%);
    line-height: 1.6;
    width: 100%;
}

h1, h2, h5, h6 {
    color: black;
    opacity: 0.8;
    letter-spacing: -1px;
    font-family: "Roboto", sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

p {
    font-size: 16px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    margin: 10px;
}

h5 {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    font-size: 32px;
    padding: 5px;

}

/*************************
 End General Markup Style 
 *************************/


/* Attribution */


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* /////////
  Attribution
  /////////// */


/* Utilities */
.flex {
    display: flex;
    height: 100%;
}

.space-between {
    justify-content: space-between;

}



.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.grid-2 img {
    margin-left: 10px;

}

.p-5 {
    padding: 20px 50px;
}




/* Hero design */
.hero {
    background-image: url("/images/bg-header-desktop.png");
    width: 100%;
    height: 100%;
    align-items: center;
    align-content: center;
    text-align: center;
    padding-top: 8rem;
    background-repeat: no-repeat;
    margin-bottom: 1rem;
    justify-content: center;
    min-height: 100vh;
}

.hero h2, .snippet h2 {
    font-size: 50px;
    line-height: 2;
    letter-spacing: -1px;
}

.logo {
    margin-top: 10px;

}

.hero p, .snippet p, p.center {
    font-size: 25px;
    margin: 0 auto;
    width: 60%;
}


/* Service Design */

.services .text {
    justify-content: center;
    position: relative;
    align-items: center;
    height: 100%;

}

.services img {
    height: 100%;
    margin-left: -50px;
}

.services-menu {
    padding: 20px 6rem;
    display: grid;
    grid-template-rows: repeat(3 1fr);
    row-gap: 30px;
    margin-top: 60px;
}

.services-menu .services-item p {
    padding-left: 0;
    margin: 0;
    font-size: 16px;
}

.services-menu .services-item h6 {
    font-size: 20px;
    margin: 0 0 6px 0
}


/* End services */



.social-buttons li {
    display: inline-block;
    margin: 0 5px;
}

.social-buttons li img {
    width: 100%;
    height: 100%;
    transition: .2s;
}

.social-buttons li img:hover {
    transition: .2s ease-in-out all;
    color: var(--light-blue);
}

.download .buttons {
    margin-top: 50px;
}

.download {
    margin-bottom: 50px;
}


.buttons {
    display: inline-block;
    text-align: center;
    margin-top: 20px;
}

.button {
    margin: 2px 10px;
    padding: 20px 30px;
    line-height: 1.2;
    text-align: center;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}



.button.ios {
    background-color: #27b9a3;
    color: #fff;
    box-shadow: 5px 5px 5px #5dbdae;
}

.button.mac {
    background-color: hsl(232, 96%, 68%);
    color: #fff;
    box-shadow: 5px 5px 5px #5d8abd;
}

.button:hover {
    transform: scale(0.95);
    transition: 0.2s ease-in-out all;
}

.feature-item h6 {
    font-size: 20px;
    padding: 10px;
    letter-spacing: -1px;
}

.features-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.feature-item p {
    font-size: 16px;
    padding: 10px;
}

.feature-item img {
    height: 30px;
}

.snippet {
    margin: auto;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 0 0 100px 0;
}



.snippet p {
    text-align: center;
}


.devices h5 {
    margin: 10px 0;
}

.devices img {
    margin-top: 3rem;
}



.feature-items {
    width: 80%;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin: 20px auto;
    display: flex
}



.services-menu ul li h6 {
    font-size: 30px;
}

ul, li {
    text-decoration: none;
}





.footer {
    background-color: rgb(245, 246, 248);
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
    height: 150px;

}

.footer img {
    width: 50%;
}

.footer a {
    color: #444;
    font-weight: 600;
}

.footer a:hover {
    color: var(--strong-cyan);
    transition: 0.3s ease-in-out all;
}

.social-buttons a:hover>img {
    background: var(--strong-cyan);
}


@media only screen and (max-width:375px) {
    /* body {
        min-width: 375px;
    } */


    .hero {
        background-image: url("/images/bg-header-mobile.png");
        width: 100%;
        padding-top: 5rem;

    }

    .hero img {
        height: 30%;
        width: 30%;
        margin: 20px;
    }

    .hero h2, .snippet h2 {
        line-height: 2;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .hero p, .snippet p, p.center {
        font-size: 16px;
        margin: 0 auto;
        width: 90%;
        line-height: 1.3;
    }

    .buttons {
        display: block;
    }

    .button {
        width: 80%;
    }

    .button:first-child {
        margin-bottom: 10px;
    }

    .snippet {
        display: block
    }

    .grid-2 {
        display: block;
    }

    .services .text {
        display: block;
        width: 90%;
        padding: 0;
        margin: 0;
    }

    .services img {
        margin: 0 auto;
        width: 80%;
    }

    .services-menu {
        width: 100%;
    }

    .d-block-1 {
        display: block;
        width: 50%;
        margin: 10px auto;
    }

    .d-block-1 img {
        margin: 10px 0;
    }

    .footer {
        display: block;
        height: 100%;
        text-align: center;
    }

    .footer .footer-logo {
        height: 50px;
        width: 50px;
    }

    .footer li {
        padding: 10px 0;
    }

    body img {
        width: 100%;

    }

    body {
        overflow-x: hidden;
    }

    .features-grid {
        display: block;
        width: 100%;
    }

    .feature-item {
        width: 100%;
    }

    .feature-item img {
        width: 30%;
        object-fit: contain;
    }

    .feature-item h6, .feature-item p {
        width: 90%;
    }


    /* Utilities */
    /* Resizing based on the column size */

    .col-sm-1 {
        width: 8.33%;
    }

    .col-sm-2 {
        width: 16.66%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.33%;
    }

    .col-sm-5 {
        width: 41.66%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.33%;
    }

    .col-sm-8 {
        width: 66.66%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.33%;
    }

    .col-sm-11 {
        width: 91.66%;
    }

    .col-sm-12 {
        width: 100%;
    }

}